@model Coupon
<br />
<h2 class="text-info"> Coupon Details</h2>
<br />
  <div class="whiteBackground border row">
      <div class="col-8">
        <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
        <input type="hidden"asp-for="Id" />
         <input type="hidden"asp-for="Picture" />
        <div class="form-group row">
            <div class="col-4 ">
                <label asp-for="Name" class="col-form-label"></label>
            </div>
            <div class="col-8">
                <input asp-for="Name" class="form-control" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>
           <div class="form-group row">
            <div class="col-4 ">
                <label asp-for="CouponType" class="col-form-label"></label>
            </div>
            <div class="col-8">
                <select asp-for="CouponType"disabled asp-items="Html.GetEnumSelectList<Coupon.ECouponType>()" class="form-control" ></select>
               
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Discount" class="col-form-label"></label>
            </div>
            <div class="col-8">
                <input asp-for="Discount"readonly class="form-control" />
             
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 ">
                <label asp-for="MinimumAmount" class="col-form-label"></label>
            </div>
            <div class="col-8">
                <input asp-for="MinimumAmount"readonly class="form-control" />
               
            </div>
        </div>
       
        <div class="form-group row">
            <div class="col-4 ">
                <label asp-for="IsActive" class="col-form-label"></label>
            </div>
            <div class="col-8">
                <input type="checkbox"readonly asp-for="IsActive" class="form-control" />
              
            </div>
        </div>
       
        
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_UpdateAndBackToListButtonsPartial"model="@Model.Id" />
            </div>

        </div>
    
        </div>
        <div class="col-3 offset-1">
           @if(Model.Picture !=null){
            <img src="@("data:image/png;base64," + Convert.ToBase64String(@Model.Picture))" style="width:100%;border:1px solid #ddd;border-radius:10%" />
            }
        </div>
    </div>

@section Scripts{ 
<partial name="_ValidationScriptsPartial" />
}


