@using Spice.Models.Utility
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Spice</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.css" integrity="sha512-4S7w9W6/qX2AhdMAAJ+jYF/XifUfFtrnFSMKHzFWbkE2Sgvbn5EhGIR9w4tvk0vfS1hKppFIbWt/vdVIFrIAKw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/739036c91c.js" crossorigin="anonymous"></script>
</head>
<body class="webBackground">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index">
                    <img src="~/images/spicy.png" style="width:50px;height:50px;border-radius:100%">
                    <img src="~/images/na.png" style="width:50px;height:50px;border-radius:100%">
                    <img src="~/images/veryspicy.png" style="width:50px;height:50px;border-radius:100%">&nbsp;
                    <label class="text-info" style="cursor:pointer">
                        Spice
                    </label>

                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        @if (User.IsInRole(SD.ManagerUser))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Content Management
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Categories" asp-area="Admin">Category</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="SubCategories" asp-area="Admin"> SubCategory</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="MenuItems" asp-area="Admin">Menu Item</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Coupons" asp-area="Admin">Copouns</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Users" asp-area="Admin">Users </a>
                                     @*<a class="dropdown-item" asp-action="Confirm" asp-controller="Orders" asp-area="Customer">confirm </a>*@

                                </div>
                            </li>
                        }
                        @if(User.IsInRole(SD.CustomerUser) || User.IsInRole(SD.ManagerUser))
                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-area="Customer"asp-controller="Orders"asp-action="OrderHistory">
                                    Order History
                                </a>
                            </li>
                        }
                                  @if (User.IsInRole(SD.ManagerUser)  ||  User.IsInRole(SD.KitchenUser)  ||  User.IsInRole(SD.FrontDeskUser))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOrder" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   Orders
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownOrder">
                                     @if (User.IsInRole(SD.ManagerUser)  ||  User.IsInRole(SD.KitchenUser)){
                                    <a class="dropdown-item" asp-action="ManageOrder" asp-controller="Orders" asp-area="Customer">Manage Order</a>
                                     }
                                      @if (User.IsInRole(SD.ManagerUser)  ||    User.IsInRole(SD.FrontDeskUser)){
                                    <a class="dropdown-item" asp-action="OrderPickUp" asp-controller="Orders" asp-area="Customer"> Order PickUp</a>
                                      }
                                    

                                </div>
                            </li>
                        }
                        @if (HttpContextAccessor.HttpContext.Session.GetInt32(SD.ShoppingCartCount) == null)
                        {
                            <li style="color:white">
                                <a class="nav-link" style="text-decoration:none">
                                    <i class="fas fa-shopping-cart"></i>&nbsp;(0)
                                </a>

                            </li>

                        }
                        else
                        {
                            <li style="color:white">
                                <a asp-area="Customer" asp-action="Index" asp-controller="Carts" class="nav-link" style="text-decoration:none">
                                    <i class="fas fa-shopping-cart"></i>&nbsp;(@HttpContextAccessor.HttpContext.Session.GetInt32(SD.ShoppingCartCount))
                                </a>

                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white bg-dark">
        <div class="container">
            &copy; 2022 - Spice - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/4tyixevcj4t80kj0vnzb0zjveenf2u64ve9n64s5rgx66ci1/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
