@model MenuItemViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Edit MenuItem</h2>
<br />

<form asp-action="Edit" method="post"enctype="multipart/form-data">
    <div class="whiteBackground border row">
        <div class="col-8">
        <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
        <input type="hidden"asp-for="MenuItem.Id" />
         <input type="hidden"asp-for="MenuItem.Image" />
        <div class="form-group row">
            <div class="col-4 ">
                <label asp-for="MenuItem.Name" class="col-form-label"></label>
            </div>
            <div class="col-8">
                <input asp-for="MenuItem.Name" class="form-control" />
                <span class="text-danger" asp-validation-for="MenuItem.Name"></span>
            </div>
        </div>
         <div class="form-group row">
            <div class="col-4 ">
                <label asp-for="MenuItem.Description" class="col-form-label"></label>
            </div>
            <div class="col-8">
                <textarea asp-for="MenuItem.Description" class="form-control" ></textarea>
                <span class="text-danger" asp-validation-for="MenuItem.Description"></span>
            </div>
        </div>
         <div class="form-group row">
            <div class="col-4 ">
                <label asp-for="MenuItem.Price" class="col-form-label"></label>
            </div>
            <div class="col-8">
                <input asp-for="MenuItem.Price" class="form-control" />
                <span class="text-danger" asp-validation-for="MenuItem.Price"></span>
            </div>
        </div>
         <div class="form-group row">
            <div class="col-4 ">
                <label asp-for="MenuItem.Image" class="col-form-label"></label>
            </div>
            <div class="col-8">
                <input type="file"multiple asp-for="MenuItem.Image" class="form-control" />
               
            </div>
        </div>
         <div class="form-group row">
            <div class="col-4 ">
                <label asp-for="MenuItem.CateogryId" class="col-form-label"></label>
            </div>
            <div class="col-8">
               <select id="ddlCategories" asp-for="MenuItem.CateogryId"asp-items="@(new SelectList(Model.CategoryList,"Id","Name"))" class="form-control"></select>
                <span class="text-danger" asp-validation-for="MenuItem.CateogryId"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="MenuItem.SubCategoryId" class="col-form-label"></label>
            </div>
            <div class="col-8">
               <select id="ddlSubCategories" asp-for="MenuItem.SubCategoryId"asp-items="@(new SelectList(Model.SubCategoryList,"Id","Name"))" class="form-control"></select>
                <span class="text-danger" asp-validation-for="MenuItem.SubCategoryId"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 ">
                <label asp-for="MenuItem.Spicyness" class="col-form-label"></label>
            </div>
            <div class="col-8">
               <select id="ddlSubCategories" asp-for="MenuItem.Spicyness"asp-items="@Html.GetEnumSelectList<MenuItem.Espicy>()" class="form-control"></select>
                <span class="text-danger" asp-validation-for="MenuItem.Spicyness"></span>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-8 offset-4">
                <partial name="_EditAndBackToListButtonsPartial" />
            </div>

        </div>
        </div>
        <div class="col-3 offset-1">
            <img src="@Model.MenuItem.Image"style="width:100%;border:1px solid #ddd;border-radius:10px" />
        </div>
    </div>
</form>
@section Scripts{ 
<partial name="_ValidationScriptsPartial" />
<script>
function UpdateSubCategoryList() {
    var SelectedItem = document.getElementById("ddlCategories").value;
    $list = $("#ddlSubCategories");
    $.ajax({
        url: "/Admin/SubCategories/GetSubCategories/" + SelectedItem,
        Type: 'GET',
        dataType: 'text',
        success: function(data) {
            result = JSON.parse(data);
            $list.html(' ');
            var items = '';

            for(i in result) {
                items += '<option value=" ' + result[i].value + '">' + result[i].text + '</option>+';
            }
            $list.html(items);
        }
    });
}
 //$(document).ready(function() {
 //       UpdateSubCategoryList();
 //   });
    $("#ddlCategories").on("change", function() {
        UpdateSubCategoryList();
    });
</script>
<script>
   tinymce.init({
      selector: 'textarea',
      plugins:'lists',
      menubar:'file edit format'
</script>
}




